.spacer {
  flex: 1 1 auto;
}

nav {
  display: flex;
  gap: 10px;
}

button.active-link {
  background-color: #005cbb;
  color: white;
}

@media (max-width: 768px) {
  .dont-show-small {
    display: none;
  }
}
