<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <app-technology-table [card-name]="'Techniques'" [isAdmin]="false" [technologies]="techniques"></app-technology-table>
    </div>
    <div class="col-md-6 col-sm-12">
      <app-technology-table [card-name]="'Tools'" [isAdmin]="false" [technologies]="tools"></app-technology-table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <app-technology-table [card-name]="'Platforms'" [isAdmin]="false" [technologies]="platforms"></app-technology-table>
    </div>
    <div class="col-md-6 col-sm-12">
      <app-technology-table [card-name]="'Languages & Frameworks'" [isAdmin]="false" [technologies]="languagesAndFrameworks"></app-technology-table>
    </div>
  </div>
</div>

